/* Media queries para responsive design */

/* Tablet */
@media (max-width: 768px) {
    .header-container {
        padding: 20px;
    }
    
    .header-tittle {
        font-size: 1.5rem;
    }
    
    .color-container {
        padding: 20px;
    }
    
    .resultados-container {
        padding: 30px;
    }
    
    .resultados-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

